<%- include('parcial/_cabecera') %>

<div class="container mt-5 text-center">
    <h4>Control de Personas</h4>
</div>

<div class="container mt-3 text-center">
    <a href="/usuarios/ingresar" class="btn btn-success">Ingresar</a>
    <a href="/usuarios/agregar" class="btn btn-success ml-3">Registrarme</a>
</div>

<div class="container mt-5 text-center">
    <h5>Powered By:</h5>
    <h5><a href="https://martinmedinaruvian.github.io/index/" target="_blank">Martin Medina</a></h5>
</div>

<div class="container mt-5 text-center">
    <h5>Enlaces de interes:</h5>
    <h5><a href="https://martinmedinaruvian.github.io/Covid19Colombia/" target="_blank">Casos de Covid19 en Colombia</a></h5>
    <h5><a href="https://martinmedinaruvian.github.io/Covid19ColombiaGraficas/" target="_blank">Gráficas sobre casos de Covid19 en Colombia</a></h5>
</div>