<%- include('../parcial/_cabecera') %>

<div class="container text-center mt-5">
<h4>¿Esta seguro de eliminar a <%= nombre %>?</h4>
<div class="container mt-3">
    <a href="/personas/eliminar/<%= id %>" class="btn btn-danger">Eliminar</a>
<a href="/personas" class="btn btn-secondary">Cancelar</a>
</div>
</div>