<h5>Guardar Persona</h5>
<form action="/personas/agregar" method="POST">
<div class="form-group">
<input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus required>
</div>
<div class="form-group">
<input type="number" class="form-control" name="identificacion" placeholder="Identificación" required>
</div>
<div class="form-group">
<input type="phone" class="form-control" name="telefono" placeholder="Teléfono">
</div>
<div class="form-group">
<input type="text" class="form-control" name="ciudad_residencia" placeholder="Ciudad residencia">
</div>
<div class="container mt-4">
    <button type="submit" class="btn btn-success form-control">Guardar</button>
<button type="button" class="btn btn-secondary form-control mt-2" data-dismiss="modal">Cancelar</button>
</div>
</div>
</form>
            