<div class="container mt-3 text-center">
    <h6>Las personas que pueden transitar hoy son aquellas que sus Cédulas terminen en:</h6>
    <h4 class="text-danger"><%= usuario.digitos_cedula %></h4>  
</div>
  